
Terraform_Jenkins_Pipeline_Groovy/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.1/windows_amd64/terraform-provider-null_v3.2.1_x5.exe
Terraform_Jenkins_Pipeline_Groovy/.terraform.lock.hcl
Terraform_Jenkins_Pipeline_Groovy/.terraform/providers/registry.terraform.io/hashicorp/aws/4.58.0/windows_amd64/terraform-provider-aws_v4.58.0_x5.exe
Terraform_Jenkins_Pipeline_Groovy/terraform.tfstate
Terraform_Jenkins_Pipeline_Groovy/terraform.tfstate.backup
Terraform_Jenkins_Pipeline_Groovy/terraform.tfstate.backup
Terraform_Jenkins_Pipeline_Groovy/terraform.tfstate.backup
Terraform_Jenkins_Pipeline_Groovy/terraform.tfstate.backup
Terraform_Jenkins_Pipeline_Groovy/terraform.tfstate.backup
Terraform_Jenkins_Pipeline_Lab_Infra/.terraform.lock.hcl
Terraform_Jenkins_Pipeline_Groovy/terraform.tfstate.backup
Terraform_Jenkins_Pipeline_Lab_Infra/.terraform/providers/registry.terraform.io/hashicorp/aws/3.44.0/windows_amd64/terraform-provider-aws_v3.44.0_x5.exe
*.hcl
Terraform_Jenkins_Pipeline/.terraform.tfstate.lock.info
Terraform_Jenkins_Pipeline/.terraform/modules/modules.json
Terraform_Jenkins_Pipeline/.terraform/providers/registry.terraform.io/hashicorp/aws/3.44.0/windows_amd64/terraform-provider-aws_v3.44.0_x5.exe
Terraform_Jenkins_Pipeline/Dockerfile.dockerfile
Terraform_Jenkins_Pipeline/install_jenkins_and_docker.yaml
Terraform_Jenkins_Pipeline/Jenkinsfile
Terraform_Jenkins_Pipeline/main.tf
Terraform_Jenkins_Pipeline/modules/compute/main.tf
Terraform_Jenkins_Pipeline/modules/compute/outputs.tf
Terraform_Jenkins_Pipeline/modules/compute/variables.tf
Terraform_Jenkins_Pipeline/modules/vpc/main.tf
Terraform_Jenkins_Pipeline/modules/vpc/outputs.tf
Terraform_Jenkins_Pipeline/modules/vpc/variables.tf
Terraform_Jenkins_Pipeline/outputs.tf
Terraform_Jenkins_Pipeline/react-app-main/.dockerignore
Terraform_Jenkins_Pipeline/react-app-main/build.gradle
Terraform_Jenkins_Pipeline/react-app-main/Dockerfile
Terraform_Jenkins_Pipeline/react-app-main/gradle/wrapper/gradle-wrapper.jar
Terraform_Jenkins_Pipeline/react-app-main/gradle/wrapper/gradle-wrapper.properties
Terraform_Jenkins_Pipeline/react-app-main/gradlew
Terraform_Jenkins_Pipeline/react-app-main/gradlew.bat
Terraform_Jenkins_Pipeline/react-app-main/Jenkinsfile
Terraform_Jenkins_Pipeline/react-app-main/package-lock.json
Terraform_Jenkins_Pipeline/react-app-main/package.json
Terraform_Jenkins_Pipeline/react-app-main/public/favicon.ico
Terraform_Jenkins_Pipeline/react-app-main/public/index.html
Terraform_Jenkins_Pipeline/react-app-main/public/logo192.png
Terraform_Jenkins_Pipeline/react-app-main/public/logo512.png
Terraform_Jenkins_Pipeline/react-app-main/public/manifest.json
Terraform_Jenkins_Pipeline/react-app-main/public/robots.txt
Terraform_Jenkins_Pipeline/react-app-main/settings.gradle
Terraform_Jenkins_Pipeline/react-app-main/src/App.css
Terraform_Jenkins_Pipeline/react-app-main/src/App.js
Terraform_Jenkins_Pipeline/react-app-main/src/App.test.js
Terraform_Jenkins_Pipeline/react-app-main/src/index.css
Terraform_Jenkins_Pipeline/react-app-main/src/index.js
Terraform_Jenkins_Pipeline/react-app-main/src/logo.png
Terraform_Jenkins_Pipeline/react-app-main/src/reportWebVitals.js
Terraform_Jenkins_Pipeline/react-app-main/src/setupTests.js
Terraform_Jenkins_Pipeline/terraform.tfstate
Terraform_Jenkins_Pipeline/terraform.tfstate.backup
Terraform_Jenkins_Pipeline/variables.tf
